*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial;
  background:#000;
  color:#fff;
}

/* HEADER */
header{
  text-align:center;
  padding:20px;
  border-bottom:1px solid rgba(255,0,0,0.3);
}

/* LOGO 3D */
.logo-3d{
  font-size:34px;
  font-weight:900;
  color:white;

  text-shadow:
    0 1px 0 #999,
    0 2px 0 #777,
    0 3px 0 #555,
    0 4px 10px red,
    0 0 20px red;
}

/* NAV */
nav{
  margin:15px 0;
}

nav a{
  margin:0 10px;
  color:white;
  text-decoration:none;
}

nav a:hover{
  color:red;
}

/* BUTTONS */
.btn-red{
  background:red;
  color:white;
  padding:12px 20px;
  border-radius:10px;
  margin:5px;
  display:inline-block;
}

.btn-outline{
  border:1px solid red;
  color:red;
  padding:12px 20px;
  border-radius:10px;
}

/* HERO */
.hero{
  text-align:center;
  padding:50px 20px;
}

.hero span{
  color:red;
}

/* SECTION */
.section{
  padding:30px;
}

.section h2{
  color:red;
  margin-bottom:15px;
}

/* CARDS */
.card{
  background:#111;
  border:1px solid rgba(255,0,0,0.3);
  padding:15px;
  margin:10px 0;
  border-radius:10px;
}

/* FLOAT */
.whatsapp{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#25D366;
  padding:15px;
  border-radius:50px;
}

.call{
  position:fixed;
  bottom:80px;
  right:20px;
  background:red;
  padding:15px;
  border-radius:50px;
}
